.journalForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 50px;
}

.form-label {
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 100px;
}

.invalid {
    border: 1px solid red;
    background: rgb(174, 73, 73);
}