.card-button {
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.03);
    color: #FFF;
    padding: 20px;
    cursor: pointer;
    text-align: start;
    display: block;
    width: 100%;
}

.card-button :hover {
    background: rgba(124, 112, 112, 0.1);
}